@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* CSS */
body {
    margin: 0;
    font-family: "Roboto", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-image:url('./images/weatherAppBackground.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
