@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* CSS */
body {
    margin: 0;
    font-family: "Roboto", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-image:url('./images/weatherAppBackground.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  


/* Portrait and Landscape */
/* Concern: Other Devices */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

 body {
        @apply sm:w-96;

    }
}